#
#Wed Sep 24 21:41:45 CEST 2014
vid.folder=
vid.divider=1
ovr.time=false
third.indirectrecord=false
key.regpt=199
lang=0
mouse.idle=true
chat.last=2
maxSpeed=9.8
chat.periodic=true
cam.autospline=true
ovr.fps=false
roll.sensitivity=20
third.indirectview=false
key.rollCenter=0
chat.long=20
key.toggletraveling=0
vid.codec=0
chat.send=true
chat.short=10
rec.overlay=true
vid.fps=30
debug=false
third.person=false
key.opt=24
third.showfrustummethod=1
ovr.packets=false
third.showfrustum=false
third.divider=10
sound.codec=0
ovr.reg=false
key.rollRight=0
cam.autorec=true
ovr.timeleft=false
vid.multithread=true
et.auto=false
third.fixchunks=false
key.rollLeft=0
sound.mixer=-1
vid.ext=0
key.rec=0
